apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: helloworld-rollout
  namespace: argo-rollouts
spec:
  replicas: 2
  selector:
    matchLabels:
      app: helloworld
  template:
    metadata:
      labels:
        app: helloworld
    spec:
      containers:
      - name: helloworld
        image: argoproj/rollouts-demo:blue
        ports:
        - containerPort: 8080
  strategy:
    canary:
      steps:
      - setWeight: 50
      - pause: {duration: 10}
      - setWeight: 100
      - pause: {}
---
apiVersion: v1
kind: Service
metadata:
  name: helloworld-service
  namespace: argo-rollouts
spec:
  selector:
    app: helloworld
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080

